body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* #header {
  position:fixed;
  width:100%;
  left:0;
  top:0;
  right: 0;
  z-index: 1000;
} */

@import '~antd/dist/antd.css';

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout-color-none {
  background: transparent;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}


.row-spacing {
  margin-bottom: 35px;
}

.select-layout {
  width: 120px;
}


/* form */
.form-wrap .form-group {
	width: 100%;
	padding: 10px;
}

.form-group+.form-group {
	margin-top: 15px;
}

.form-group .form {
	width: 100%;
	display: flex;
	align-items: center;
}

.form-group .form>* {
	margin-left: 5px;
}

.form-group .form>*:first-child {
	margin-left: 0;
}

.form-group .label {
	color: #727272;
	font-weight: 400;
	font-size: 13px;
	margin-bottom: 7px;
  /* vertical-align: text-top; */
  /* margin-top: 10px; */
}

.form-group .label.asterisk::after {
	content: '*';
	color: #fe5b2c;
}
